# Ignorar dataset grande do Spider
spider_data/

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Editor / OS
.vscode/
.idea/
.DS_Store

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.pdf
